<section>
  <main>

    <!-- header  -->

    <header>
      <h1 id="title">Stwórz swój banner</h1>
    </header>

    <!-- the end of header  -->

    <!-- banner -->

    <div id="bannerWrapper">
      <div #banner id="banner" [ngStyle]="bannerStyle()">
        <span id="bannerText" [ngStyle]="fontStyle()" contenteditable="true">Klinkij aby dodać tekst do swojego
          banneru</span>
      </div>
    </div>


    <!-- the end of banner  -->

    <!-- all tools  -->

    <div id="banner-tools">

      <h3 id="toolTitle">Narzędzia edycji</h3>

      <label for="bannerHeight">Wysokość baneru:</label><br>
      <input name="bannerHeight" class="bannerHeight" type="range" min="400" max="800" 
        [(ngModel)]="bannerHeightVal" class="ranges"><br>

      <label for="bannerWidth">Szerokość baneru:</label><br>
      <input name="bannerWidth" class="bannerWidth" type="range" min="400" max="800"
        [(ngModel)]="bannerWidthVal" class="ranges"><br>

      <label for="bannerFontSize">Rozmiar tekstu:</label><br>
      <input name="bannerFontSize" class="bannerFontSize" type="range" min="22" max="88" [(ngModel)]="bannerFontSizeVal"
        class="ranges"><br>

      <div class="firstColor">
        Wybierz górny kolor: <br>
        <span class="firstColorPalette" *ngFor="let color of colors" class="colorBox" [ngClass]="color"
          (click)="colorOne = color"></span><br></div>
      <input type="range" min="0" max="40" [(ngModel)]="colorOnePer">

      <div class="secondColor">
        Wybierz dolny kolor:<br>
        <span class="secondColorPalette" *ngFor="let color of colors" class="colorBox" [ngClass]="color"
          (click)="colorTwo = color"></span><br>
        <input type="range" min="60" max="100" [(ngModel)]="colorTwoPer">
      </div>

      <div class="fontColor">
        Wybierz kolor czcionki:<br>
        <span class="fontColorPalette" *ngFor="let color of colors" class="colorBox" [ngClass]="color"
          (click)="fontColor = color"></span>
      </div>

      <div id="fontsFamillyButtons">
        <button class="fontFamily" (click)="font = 'Times New Roman'" style="font-family: 'Times New Roman'">Times New
          Roman</button>
        <button class="fontFamily" (click)="font = 'Georgia'" style="font-family: 'Georgia'">Georgia</button>
        <button class="fontFamily" (click)="font = 'Courier'" style="font-family: 'Courier'">Courier</button>
      </div>

      <button id="downloadButton" (click)="downloadImg(banner)">Pobierz</button>

    </div>
    <!-- the end all tools  -->
    <footer>
      <footer> {{date | date: 'yyyy' }} &copy; Stwórz swój banner - Wszelkie prawa zastrzeżone </footer>
    </footer>
  </main>
</section>
